<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydlab.interchoice.mapper.ChooseMapper">
  <resultMap id="BaseResultMap" type="com.ydlab.interchoice.domain.Choose">
    <id column="studentId" jdbcType="INTEGER" property="studentid" />
    <result column="studentName" jdbcType="VARCHAR" property="studentname" />
    <result column="tutorId" jdbcType="INTEGER" property="tutorid" />
    <result column="tutorName" jdbcType="VARCHAR" property="tutorname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    studentId, studentName, tutorId, tutorName
  </sql>
  <select id="selectByExample" parameterType="com.ydlab.interchoice.domain.ChooseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from choose
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from choose
    where studentId = #{studentid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from choose
    where studentId = #{studentid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ydlab.interchoice.domain.ChooseExample">
    delete from choose
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ydlab.interchoice.domain.Choose">
    insert into choose (studentId, studentName, tutorId, 
      tutorName)
    values (#{studentid,jdbcType=INTEGER}, #{studentname,jdbcType=VARCHAR}, #{tutorid,jdbcType=INTEGER}, 
      #{tutorname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ydlab.interchoice.domain.Choose">
    insert into choose
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        studentId,
      </if>
      <if test="studentname != null">
        studentName,
      </if>
      <if test="tutorid != null">
        tutorId,
      </if>
      <if test="tutorname != null">
        tutorName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="studentname != null">
        #{studentname,jdbcType=VARCHAR},
      </if>
      <if test="tutorid != null">
        #{tutorid,jdbcType=INTEGER},
      </if>
      <if test="tutorname != null">
        #{tutorname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ydlab.interchoice.domain.ChooseExample" resultType="java.lang.Long">
    select count(*) from choose
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update choose
    <set>
      <if test="record.studentid != null">
        studentId = #{record.studentid,jdbcType=INTEGER},
      </if>
      <if test="record.studentname != null">
        studentName = #{record.studentname,jdbcType=VARCHAR},
      </if>
      <if test="record.tutorid != null">
        tutorId = #{record.tutorid,jdbcType=INTEGER},
      </if>
      <if test="record.tutorname != null">
        tutorName = #{record.tutorname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update choose
    set studentId = #{record.studentid,jdbcType=INTEGER},
      studentName = #{record.studentname,jdbcType=VARCHAR},
      tutorId = #{record.tutorid,jdbcType=INTEGER},
      tutorName = #{record.tutorname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ydlab.interchoice.domain.Choose">
    update choose
    <set>
      <if test="studentname != null">
        studentName = #{studentname,jdbcType=VARCHAR},
      </if>
      <if test="tutorid != null">
        tutorId = #{tutorid,jdbcType=INTEGER},
      </if>
      <if test="tutorname != null">
        tutorName = #{tutorname,jdbcType=VARCHAR},
      </if>
    </set>
    where studentId = #{studentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ydlab.interchoice.domain.Choose">
    update choose
    set studentName = #{studentname,jdbcType=VARCHAR},
      tutorId = #{tutorid,jdbcType=INTEGER},
      tutorName = #{tutorname,jdbcType=VARCHAR}
    where studentId = #{studentid,jdbcType=INTEGER}
  </update>
</mapper>